<div class="contact-wrapper">
  <div class="contact-picture">
    <img class="contact-picture-img" src="/assets/yurito.jpeg">
  </div>

  <div class="contact-info">
    <h1 class="font-weight-100">Yuriy Tolstykh</h1>
    <h5 class="font-weight-100">creator of Picturito.com</h5>
    <h5 class="font-weight-100"><a href="mailto:yuriy.tolstykh@gmail.com">yuriy.tolstykh@gmail.com</a></h5>
    <h5 class="font-weight-100">
      <a href="http://github.com/ytolstyk/">github.com/ytolstyk</a>
    </h5>
    <p class="font-weight-100">Picturito is built using Ruby on Rails with ActiveRecord, Backbone.JS, and jQuery. It was a fun project meant to cover the full stack, and one that I enjoyed very much. Got questions about the features? Wondering about logistics and implementation? Just curious? Email me.</p>
  </div>
</div>