<div class="contact-wrapper">
  <div class="contact-picture">
    <img class="contact-picture-img" src="/assets/yurito.jpeg">
  </div>

  <div class="contact-info">
    <h1 class="font-weight-100">Yuriy Tolstykh</h1>
    <h5 class="font-weight-100">creator of Picturito.com</h5>
    <h5 class="font-weight-100"><a href="mailto:yuriy@yuriytolstykh.com">yuriy@yuriytolstykh.com</a></h5>
    <h5 class="font-weight-100">
      <a href="http://github.com/ytolstyk/">github.com/ytolstyk</a>
    </h5>
    <p class="font-weight-100">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
  </div>
</div>