<div class="profile-picture-container">
  <a href="#/picture/<%= picture.escape('id') %>">
    <img src="<%= picture.escape('image_url_small') %>">
  </a>
</div>

<div class="profile-picture-info">
  <div class="edit-helper-text">
    Double-click on the info to edit
  </div>
  <h2><%= picture.escape("title") %></h2>
  <p><%= picture.escape("description") %></p>
</div>

<div class="delete-picture">x</div>