<div class="profile-picture-container">
  <img src="<%= picture.escape('image_url_small') %>">
</div>

<div class="profile-picture-info">
  <h2><%= picture.escape("title") %></h2>
  <p><%= picture.escape("description") %></p>
</div>

<div class="delete-picture">x</div>