<div class="profile-user-info">
  <div class="profile-avatar inline-block">
    <img src="<%= _.escape(collection.avatar) %>">
  </div>

  <div class="profile-username inline-block">
    <h1><%= _.escape(collection.username) %></h1>
  </div>
</div>

<div class="profile-pictures-wrapper">
  <ul class="ul-profile-pictures">

  </ul>

  <div class="profile-load-more">
    <button class="btn btn-primary load-more">Load more</button>
  </div>
</div>
