<div class="clearfix index-pictures-container">
  <ul class="ul-pictures clearfix">

  </ul>
</div>

<div class="pagination">
  <button class="btn btn-primary btn-xs favorites-load-more">Load More</button>
</div>

<button type="button" 
  class="btn btn-primary btn-lg refresh"
  style="visibility: hidden;">Refresh</button>


