<div class="clearfix index-pictures-container">
  <ul class="ul-pictures clearfix">

  </ul>
</div>

<div class="pagination">
  <button type="button" class="btn btn-primary previous-page"><</button>
  <button type="button" class="btn btn-primary current-page"><%= this_page %></button>
  <button type="button" class="btn btn-primary next-page">></button>
</div>

<button type="button" 
  class="btn btn-primary btn-lg refresh"
  style="visibility: hidden;">Refresh</button>


