<div class='splash-container'>
    <div class="picture-splash-header">
      <div class="title">
        <div class="avatar"></div>
        <h2 class="h2-title"><%= picture.escape("title") %></h2>
        <span><%= picture.escape("username") %></span>
      </div>
    </div>

    <div class="picture-splash-body">
      <div class="picture-splash-show" 
        style="background-image: url(<%= picture.escape('image_url_big') %>)">
      </div>
    </div>
    
    <div class="picture-splash-footer">
        views: <%= picture.escape("views") %>
    </div>

</div>