
<div class="comment-body">
  <div class="comment-avatar">
    <img src="<%= comment.escape('avatar') %>">
  </div>
  <%= comment.escape("body") %>
</div>

<% if (comment.escape("user_id") === comment.escape("current_user")) { %>
  <button class="close-comment delete-comment">x</button>
<% }; %>

<div class="comment-author inline-block">
  <%= comment.escape("username") %>
</div>
<div class="comment-datetime activity-time inline-block">
  (<%= comment.escape("created_at") %>)
</div>