<a href="#/picture/<%= activity.escape('picture_id') %>">

  <span class="vertical"><b><%= activity.escape("username") %></b> <%= activity.escape("action") %> <b><%= activity.escape("picture") %></b></span>

</a>
<button class="close-activity">x</button>