/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'slate';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.ui.core";

* {
  list-style: none;
}

#main {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.flash-errors {
  /*font-weight: 100;*/
  text-shadow: none;
}

.index-pictures-container {
  width: 870px;
  margin: 0 auto;
}

ul.ul-pictures {
  width: 870px;
  padding: 0;
  margin: 0 auto;
}

.picture-index-wrapper {

}

div.pagination {
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}

.pagination-link {
  display: inline-block;
  width: 40px;
  height: 30px;
  background-color: rgb(150, 150, 150);
  background-color: rgba(150, 150, 150, 0.3);
  color: white;
  font-size: 20px;
  text-shadow: 0 0 1px #000;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.pagination-link:hover {
  background-color: rgba(150, 150, 150, 1);
}

.total-pages-container {
  position: relative;
}

.total-pages {
  margin: 0 auto;
  width: 100px;
  text-align: center;
  color: grey;
  /*text-shadow: 0 0 1px #000;*/
}

.current-page {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.go-to-page {
  display: inline-block;
  width: 50px;
}

/*UPLOAD MODAL*/
.upload-picture-title {
  width: 100%;
}

.upload-picture-description {

}

.upload-picture-file {

}

.picture-upload-form {
  max-width: 300px;
}

.preview-holder {
  position: absolute;
  top: 45px;
  right: 20px;
  width: 234px;
  height: 234px;
  background-color: grey;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

#preview-text {
  position: absolute;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  top: 30px;
  left: 30px;
  text-shadow: 0 0 1px #000;
}

.preview-with-picture {

}

#previewHolder {
  max-width: 228px;
  max-height: 228px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/*PICTURE SHOW */

.div-picture {
  text-align: center;
  font-size: 40px;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.picture-index {
  position: absolute;
  top: 50%;
  color: white;
  text-shadow: 0px 0px 1px #000;
  z-index: 5;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.show-picture-like {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 50px;
  color: white;
  text-shadow: 0 0 2px #000;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 40px;
}

.show-heart {
  text-align: center;
}

.show-likes-count {
  opacity: 0;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.span-show-likes-count {
  display: inline-block;
  vertical-align: middle;
}

.show-picture-like:hover {
  font-size: 0;
}

.show-picture-like:hover .show-likes-count {
  font-size: 25px;
  opacity: 1;
}

.picture-index:hover {
  opacity: 1;
}

.previous-picture {
  left: 5px;
}

.next-picture {
  right: 5px;
}

.picture-avatar {
  float: left;
  margin-right: 5px;
}

.title {
  position: relative;
  display: inline-block;
  width: 1000px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
}

.picture-show-views {
  padding-left: 5px;
}

.h2-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 800px;
}

.show-picture-score {
  position: absolute;
  font-size: 25px;
  font-weight: 200;
  right: 60px;
  top: 10px;
  color: white;
  text-shadow: 0 0 2px #000;
  transition: all 0.2s ease-in-out;
}

.score-wrapper {
  transition: all 0.2s ease-in-out;
}

.score-wrapper:hover .show-picture-score {
  opacity: 0;
  top: -30px;
}

.score-wrapper:hover .show-picture-highest {
  opacity: 1;
  top: 10px;
}

.show-picture-highest {
  opacity: 0;
  position: absolute;
  font-size: 25px;
  font-weight: 200;
  right: 60px;
  top: 35px;
  color: white;
  text-shadow: 0 0 2px #000;
  transition: all 0.2s ease-in-out;
}

.li-picture {
  float: left;
  display: inline;
  margin: 20px;
  overflow: hidden;
}

.keyboard-helpers {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: grey;
}

.splash-container {
  position: fixed;
  z-index: 10;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:grey;
}

div.avatar {
  float: left;
  margin-right: 10px;
}

.picture-splash-header, .picture-splash-footer, .picture-splash-body {
  position:absolute;
  left:0;
  right:0;
}
.picture-splash-header {
  padding: 5px;
  height: 70px;
  top: 0;
  max-width: 1000px;
}
.picture-splash-footer {
  padding: 5px;
  bottom:0;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
.picture-splash-body {
  top:70px;
  bottom:50px;
}

.picture-splash-show {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

div.inline-block {
  display: inline-block;
}

/*SOURCE VIEW*/

.description-wrapper {
  position: relative;
}

.easter-egg-wrapper {
  position: absolute;
  left: 550px;
  width: 400px;
  height: 300px;
  top: -20px;
  perspective: 1000;
}

.show-source {
  width: 100px;
  margin: 0 auto;
  opacity: 0.1;
  transition: all 0.2s ease-in-out;
}

.card {
  position: absolute;
  bottom: 0;
  height: 280px;
  width: 400px;
  border-radius: 3px;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.source-front {
  border-radius: 3px;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.source-back {
  border-radius: 3px;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  box-sizing: border-box;
  backface-visibility: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.show-source:hover {
  opacity: 1;
}

.show-source:hover + div.card {
  transform: rotateY(180deg);
}

/*PICTURE INDEX SHOW*/

.index-picture-container:hover .picture-views {
  opacity: 1;
}

.picture-views {
  position: absolute;
  right: 8px;
  bottom: 5px;
  text-shadow: 0px 0px 1px #000;
  color: white;
  opacity: 0;
  font-size: 40px;
  font-weight: 200;
  transition: all 0.2s ease-in-out;
}

.picture-info {
  position: absolute;
  max-width: 200px;
  left: 8px;
  bottom: 10px;
  color: white;
  text-shadow: 0px 0px 1px #000;
  z-index: 50;
}

.picture-title {
  font-size: 20px;
  font-weight: 300;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.picture-author {
  font-weight: 100;
  font-size: 13px;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*COMMENTS*/

.ul-comments {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 500px;
}

.show-comments {
  width: 500px;
}

.comment-body {
  display: inline-block;
  width: 480px;
  padding-right: 15px;
}

.picture-description {
  width: 500px;
}

.div-new-comment {
  width: 500px;
}

.li-comment:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.li-comment {
  position: relative;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  padding: 7px;
}

.comment-avatar {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.comment-author {
  color: grey;
}

.comment-datetime {
  color: grey;
}

.close-comment {
  position: absolute;
  right:10px;
  top:10px;
  transform:translateY(-50%);
  border:0;
  background:none;
}

/*LIKES*/

div.picture-like {
  opacity: 0;
  text-shadow: 0px 0px 2px #000;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

div.picture-like:hover {
  font-size: 0;
  opacity: 1;
}

div.picture-like:hover .likes-count {
  font-size: 20px;
  opacity: 1;
}

div.heart {
  padding-right: 3px;
}

.span-likes-count {
  display: inline-block;
  vertical-align: middle;
}

div.likes-count {
  color: white;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.index-picture-container {
  position: relative;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.index-picture-container:hover .picture-like{
  opacity: 1;
}

/*ACTIVITY*/

.li-activity {
  line-height: 100%;
  max-width: 500px;
  position:relative;
  padding-right: 30px;
}

span.vertical {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close-activity {
  position:absolute;
  right:10px;
  top:50%;
  transform:translateY(-50%);
  opacity: 0.3;
  border:0;
  background:none;
}

.close-activity:hover {
  opacity: 0.9;
}

.viewed-activity {
  opacity: 0.5;
}

.block {
  display: block;
}

.activity-time {
  font-size: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

/*USER SIGN IN SIGN UP*/

div.user-form {
  padding-top: 150px;
  width: 500px;
  margin: 0 auto;
  color: white;
  text-shadow: 0px 0px 1px #000;
}

div.background-image {
  position: absolute;
  top: -5%;
  bottom: -5%;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  max-height: 1400px;
}

div.main-page-info {
  margin-top: 30px;
  text-align: center;
}

.current-avatar {
  width: 30px;
  height: auto;
  margin-top: -10px;
  margin-bottom: -10px;
}

/*PROFILE */

.profile-user-info {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  min-height: 260px;
}

.profile-avatar {
  position: absolute;
  top: 5px;
  left: 10px;
}

.profile-username {
  position: absolute;
  top: 5px;
  left: 280px;
}

.profile-load-more {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.load-more {
  margin-bottom: 10px;
}

.ul-profile-pictures {
  width: 950px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid grey;
}

/*PROFILE PICTURE*/

.li-profile-picture {
  position: relative;
  margin: 0 auto;
  width: 900;
  min-height: 260px;
  transition: all 0.2s ease-in-out;
}

.li-profile-picture:hover {
  opacity: 0.7;
}

.profile-picture-container {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}

.profile-picture-info {
  display: inline-block;
  position: absolute;
  left: 270px;
  top: 5px;
  max-width: 550px;
  cursor: pointer;
}

.delete-picture {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
}

.edit-helper-text {
  position: absolute;
  font-size: 10px;
  color: grey;
  top: 5px;
  width: 300px;
}

/*PROFILE PICTURE EDIT*/

.profile-picture-edit {
  margin-top: 20px;
  max-width: 500px;
}

.profile-picture-edit-wrapper {
  display: inline-block;
  position: absolute;
  left: 270px;
  top: 5px;
  width: 500px;
  cursor: pointer;
}

/*FAVORITES*/

.favorites-load-more {
  
}

/*CONTACT*/

.contact-wrapper {
  position: relative;
  width: 600px;
  min-height: 270px;
  border-radius: 3px;
  margin: 0 auto;
  background-color: #555;
}

.contact-picture {
  position: absolute;
  top: 10px;
  left: 10px;
}

.contact-picture-img {
  border-radius: 3px;
}

.contact-info {
  text-shadow: 0 0 1px #888;
  position: absolute;
  top: 10px;
  left: 270px;
  width: 320px;
}

.font-weight-100 {
  font-weight: 200;
}