/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  list-style: none;
}

#main {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.li-picture {
  float: left;
  display: inline;
  margin: 20px;
  overflow: hidden;
}

.splash-container {
  position: fixed;
  z-index: 10;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:grey;
}

.picture-splash-header, .picture-splash-footer, .picture-splash-body {
  position:absolute;
  left:0;
  right:0;
}
.picture-splash-header {
  padding: 5px;
  height: 70px;
  top: 0;
}
.picture-splash-footer {
  padding: 5px;
  bottom:0;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
.picture-splash-body {
  top:70px;
  bottom:50px;
}

.picture-splash-show {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.h2-title {
  margin: 0;
}

.title {
  margin-left: 20px;
  display: inline-block;
}

div.inline-block {
  display: inline-block;
}

.show-comments {
  width: 500px;
}

.comment-body {
  display: inline-block;
  width: 450px;
}

.div-new-comment {
  width: 500px;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}