/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  list-style: none;
}

#main {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.li-picture {
  float: left;
  display: inline;
  margin: 20px;
  overflow: hidden;
}

.splash-container {
  position: fixed;
  z-index: 10;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:grey;
}

.picture-splash-header, .picture-splash-footer, .picture-splash-body {
  position:absolute;
  left:0;
  right:0;
}
.picture-splash-header {
  padding: 5px;
  height: 70px;
  top: 0;
}
.picture-splash-footer {
  padding: 5px;
  bottom:0;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
.picture-splash-body {
  top:70px;
  bottom:50px;
}

.picture-splash-show {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.h2-title {
  margin: 0;
}

.title {
  margin-left: 20px;
  display: inline-block;
}

div.inline-block {
  display: inline-block;
}

/*COMMENTS*/

.show-comments {
  width: 500px;
}

.comment-body {
  display: inline-block;
  width: 450px;
  padding-right: 20px;
}

.div-new-comment {
  width: 500px;
}

.li-comment:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.li_comment:hover {

}

.li-comment {
  position: relative;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.close-comment {
  position: absolute;
  right:10px;
  top:10px;
  transform:translateY(-50%);
  border:0;
  background:none;
}

/*LIKES*/

div.picture-like {
  opacity: 0;
  text-shadow: 1px 1px 3px;
  background-color: rgb(3, 3, 3);
  background-color: rgba(3, 3, 3, 0.2);
  position: absolute;
  top: 5px;
  right: 5px;
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

div.picture-like:hover {
  font-size: 0;
  opacity: 1;
}

div.picture-like:hover .likes-count {
  font-size: 20px;
  opacity: 1;
}

div.heart {
  padding-right: 3px;
}

.span-likes-count {
  display: inline-block;
  vertical-align: middle;
}

div.likes-count {
  color: white;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.index-picture-container {
  position: relative;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.index-picture-container:hover .picture-like{
  opacity: 1;
}

/*ACTIVITY*/

.li-activity {
  line-height: 100%;
  position:relative;
  padding-right: 30px;
}

span.vertical {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.close-activity {
  position:absolute;
  right:10px;
  top:50%;
  transform:translateY(-50%);
  opacity: 0.3;
  border:0;
  background:none;
}

.close-activity:hover {
  opacity: 0.9;
}

.viewed-activity {
  opacity: 0.5;
}

.block {
  display: block;
}

.activity-time {
  font-size: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}
