/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  list-style: none;
}

#main {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.flash-errors {
  /*font-weight: 100;*/
  text-shadow: none;
}

.index-pictures-container {
  width: 870px;
  margin: 0 auto;
}

ul.ul-pictures {
  width: 870px;
  padding: 0;
  margin: 0 auto;
}

.picture-index-wrapper {

}

div.pagination {
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}

.pagination-link {
  display: inline-block;
  width: 40px;
  height: 30px;
  background-color: rgb(150, 150, 150);
  background-color: rgba(150, 150, 150, 0.3);
  color: white;
  font-size: 20px;
  text-shadow: 0 0 1px #000;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.pagination-link:hover {
  background-color: rgba(150, 150, 150, 1);
}

.total-pages-container {
  position: relative;
}

.total-pages {
  margin: 0 auto;
  width: 100px;
  text-align: center;
  color: grey;
  /*text-shadow: 0 0 1px #000;*/
}

.current-page {
  display: inline-block;
  width: 40px;
  text-align: center;
}

.go-to-page {
  display: inline-block;
  width: 40px;
}

/*UPLOAD MODAL*/
.upload-picture-title {
  width: 100%;
}

.upload-picture-description {

}

.upload-picture-file {

}

/*PICTURE SHOW */

.div-picture {
  text-align: center;
  font-size: 40px;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.picture-index {
  position: absolute;
  top: 50%;
  color: white;
  text-shadow: 0px 0px 1px #000;
  z-index: 5;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

/*.div-picture:hover .picture-index {
  opacity: 0.7;
}*/

.picture-index:hover {
  opacity: 1;
}

.previous-picture {
  left: 5px;
}

.next-picture {
  right: 5px;
}

.click-picture {
  
}

.picture-avatar {
  float: left;
  margin-right: 5px;
}

.title {
  display: inline-block;
  width: 1000px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
}

.picture-show-views {
  padding-left: 5px;
}

.h2-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.li-picture {
  float: left;
  display: inline;
  margin: 20px;
  overflow: hidden;
}

.splash-container {
  position: fixed;
  z-index: 10;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:grey;
}

div.avatar {
  float: left;
  margin-right: 10px;
}

.picture-splash-header, .picture-splash-footer, .picture-splash-body {
  position:absolute;
  left:0;
  right:0;
}
.picture-splash-header {
  padding: 5px;
  height: 70px;
  top: 0;
  max-width: 1000px;
}
.picture-splash-footer {
  padding: 5px;
  bottom:0;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
.picture-splash-body {
  top:70px;
  bottom:50px;
}

.picture-splash-show {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

div.inline-block {
  display: inline-block;
}

/*PICTURE INDEX SHOW*/

.index-picture-container:hover .picture-views {
  opacity: 1;
}

.picture-views {
  position: absolute;
  right: 8px;
  bottom: 12px;
  text-shadow: 0px 0px 1px #000;
  color: white;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.picture-info {
  position: absolute;
  max-width: 200px;
  left: 8px;
  bottom: 10px;
  color: white;
  text-shadow: 0px 0px 1px #000;
  z-index: 50;
}

.picture-title {
  font-size: 20px;
  font-weight: 300;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.picture-author {
  font-weight: 100;
  font-size: 13px;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*COMMENTS*/

.ul-comments {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 500px;
}

.show-comments {
  width: 500px;
}

.comment-body {
  display: inline-block;
  width: 480px;
  padding-right: 15px;
}

.picture-description {
  width: 500px;
}

.div-new-comment {
  width: 500px;
}

.li-comment:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.li-comment {
  position: relative;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  padding: 7px;
}

.comment-avatar {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.comment-author {
  color: grey;
}

.comment-datetime {
  color: grey;
}

.close-comment {
  position: absolute;
  right:10px;
  top:10px;
  transform:translateY(-50%);
  border:0;
  background:none;
}

/*LIKES*/

div.picture-like {
  opacity: 0;
  text-shadow: 0px 0px 2px #000;
  /*background-color: rgb(3, 3, 3);
  background-color: rgba(3, 3, 3, 0.2);*/
  position: absolute;
  top: 5px;
  right: 5px;
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

div.picture-like:hover {
  font-size: 0;
  opacity: 1;
}

div.picture-like:hover .likes-count {
  font-size: 20px;
  opacity: 1;
}

div.heart {
  padding-right: 3px;
}

.span-likes-count {
  display: inline-block;
  vertical-align: middle;
}

div.likes-count {
  color: white;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.index-picture-container {
  position: relative;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.index-picture-container:hover .picture-like{
  opacity: 1;
}

/*ACTIVITY*/

.li-activity {
  line-height: 100%;
  max-width: 500px;
  position:relative;
  padding-right: 30px;
}

.a-activity {

}

.load-more-activities {
  text-align: center;
  cursor: pointer;
}

span.vertical {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close-activity {
  position:absolute;
  right:10px;
  top:50%;
  transform:translateY(-50%);
  opacity: 0.3;
  border:0;
  background:none;
}

.close-activity:hover {
  opacity: 0.9;
}

.viewed-activity {
  opacity: 0.5;
}

.block {
  display: block;
}

.activity-time {
  font-size: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

/*MODAL UPLOAD*/

/*USER SIGN IN SIGN UP*/

div.user-form {
  padding-top: 150px;
  width: 500px;
  margin: 0 auto;
  color: white;
  text-shadow: 0px 0px 1px #000;
}

div.background-image {
  position: absolute;
  top: -5%;
  bottom: -5%;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  max-height: 1400px;
}

div.main-page-info {
  margin-top: 30px;
  text-align: center;
}

.current-avatar {
  width: 30px;
  height: auto;
  margin-top: -10px;
  margin-bottom: -10px;
}